.categories {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 70rem;
    padding-top: 4rem;
}

.categories_con {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 1rem 2rem 5rem;
}

.cat_link_all {
    color: black;
    align-self: flex-end;
    padding-right: 2rem;
}

@media (max-width: 900px) {
    .categories_con {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
    }

    .categories a {
        align-self: center;
        padding: 0;
    }
}
