.relic_con {
    max-width: 80rem;
    margin: 0 auto;
    padding: 6rem 5rem;
    display: flex;
    justify-content: space-between;
}

.relic_left {
    max-width: 33%;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.prev_relic {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
    margin-bottom: 1rem;
}

.prev_relic p {
    font-family: 'eUkraine-Bold';
    text-decoration: underline;
    font-size: 0.85rem;
}

.relic_left h4 {
    font-family: 'eUkraine-Thin';
    font-weight: 700;
    background: linear-gradient(286deg, #F4A815 48.72%, #4E3421 89.82%);
    background-clip: text;
    color: transparent;
}

.relic_left h6 {
    color: black;
    font-weight: 700;
}

.relic_dates,
.relic_am_status {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.relic_source,
.relic_col {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.relic_right {
    max-width: 55%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.relic_carousel {
    max-width: 100%;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.relic_carousel img {
    max-width: 100%;
    height: auto;
}

.arrow{
    cursor: pointer;
}

.disabled{
    color: lightgrey;
    cursor: unset;
}
