.banner_landing {
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(75, 139, 250, 1);
    background: linear-gradient(
        135deg,
        rgba(75, 139, 250, 1) 0%,
        rgba(191, 152, 198, 1) 100%
    );
}

.banner_landing span {
    font-size: 7rem;
    font-family: 'eUkraine-Bold';
}

.ban_lan_con {
    display: flex;
    flex-direction: column;
    row-gap: 1.875rem;
    text-align: center;
}

@media (max-width: 860px) {
    html {
        font-size: 14px;
    }
}
