.input-row > label {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: e-Ukraine;
    font-weight: 400;
    cursor: pointer;
}

.input-row > select {
    background-color: white;
    font-size: 1rem;
    padding-right: 5px;
    line-height: 1.5rem;
}

.input-row > select:disabled {
    color: black;
}

.input-row > input {
    font-family: e-Ukraine;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0px;
}

.table-form {
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* .table-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
} */

.table-form > * {
    flex: 1;
    margin: 10px;
}

.categories-label {
    text-decoration-line: underline;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: e-Ukraine;
    font-weight: 400;
    cursor: pointer;
}

.categories-list {
    position: absolute;
    width: 250px;
    background: white;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.65);
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    font-weight: 400;
    margin: 1.5rem 0 10px 0;
}
.categories-list > * > * {
    /* no list styles */
    list-style: none;
}

.regions-list {
    position: absolute;
    width: 250px;
    background: white;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.65);
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    font-weight: 400;
    margin: 3rem 0 10px 0;
}
.regions-list > * > * {
    /* no list styles */
    list-style: none;
}

.arrow {
    margin: 5px 0 1px 5px;
}
.arrow-up {
    transform: rotate(180deg);
}

.input-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.submit-button {
    width: 6.125rem;
    height: 2.25rem;
    flex-shrink: 0;
    border-radius: 2.5rem;
    color: black;
    /* background: black !important; */

    /* border: none; */
    border: 2px solid black;
    font-size: 0.8125rem;
    font-family: e-Ukraine;
    font-style: normal;
    font-weight: 400;
}

.submit-button:hover {
    background: black;
    color: white;
}

.submit-button:disabled {
    border: none;
    background: none;
    color: transparent;
    /* background: var(--Grey, #dadada);
    color: var(--GreyText, #8e8e8e); */
}

.disabled {
    background: var(--Grey, #dadada);
    color: var(--GreyText, #8e8e8e);
}

.col-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.col-2 {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: flex-end;
    margin-left: 10px;
}

.col-2 > label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.password {
    border: 2px solid var(--Black, #000);
    border-radius: 2.5rem;
    width: 75%;
}

.password-block {
    margin-top: 1.4rem;
}

.errors {
    position: absolute;
    right: 5rem;
    color: red;
    font-size: 0.75rem;
    font-weight: 400;
    margin-top: 0.5rem;
}

.password-req {
    position: absolute;
    font-family: e-Ukraine;
    line-height: 1.125rem;
    font-size: 0.8125rem;
    font-weight: 400;
    left: 40%;
}

.password-req > * > li {
    margin-left: 1rem;
}

.password-req-default {
    color: black;
}
.password-req-valid {
    color: green;
}
.password-req-invalid {
    color: red;
}
