.topper {
    display: flex;
    height: 38.625rem;
    background: rgb(191, 152, 198);
    background: linear-gradient(
        135deg,
        rgba(191, 152, 198, 1) 0%,
        rgba(75, 139, 250, 1) 100%
    );
    justify-content: center;
    position: relative;
}

.topper_con {
    width: 35.125rem;
    display: flex;
    flex-direction: column;
    padding: 15.25rem 0 14.5rem;
    row-gap: 1.2rem;
    text-align: center;
    .search-container{
        width:80%;
        align-self: center;
    }
}

@media (max-width: 860px) {
    html {
        font-size: 14px;
    }
}
