.report {
    display: flex;
    justify-content: center;
    align-items: center;
}

.report_con {
    width: 50rem;
    display: flex;
    position: relative;
    padding: 6.5rem 2rem 2rem;
    text-align: center;
}

.report_form {
    flex: 1;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(to right, #bf98c6, #4b8bfa) border-box;
    border-radius: 20px;
    border: 4px solid transparent;
    outline: none;
    padding: 1.5rem 1.5rem 1.8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
}

.report_group {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1.5rem;
}

.report_group.drop {
    align-items: start;
}
.report_input {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 0.5rem;
}

.report_input.optional_v{
    gap:0;
}

.report_input.optional_v p{
    margin-bottom:0.2rem;
}

.report input {
    padding: 0.5rem 0.8125rem;
    flex: 1;
    border: 2px solid;
    outline: none;
    border-radius: 15px;
    font-family: 'eUkraine-Regular';
    font-size: 0.84rem;
}

.report input::placeholder,
.report textarea::placeholder {
    font-family: 'eUkraine-Regular';
    color: #dadada;
    font-size: 0.84rem;
}

.report_input.error p,.cat_error {
    color: red;
    font-size: 11px;
}

.report label {
    font-size: 20px;
    display: flex;
    align-items: last baseline;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.report textarea {
    resize: none;
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: 'eUkraine-Regular';
    font-size: 0.84rem;
}

.report button {
    width: 100%;
    border-radius: 40px;
    background: #000;
    color: white;
    padding: 1rem 0;
    border: none;
}

.report label p {
    color: #dadada;
}

.region_photo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



