.Hbanner_landing {
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 214, 0);
    background: linear-gradient(
        135deg,
        rgba(255, 214, 0, 1) 0%,
        rgba(250, 89, 79, 1) 100%
    );
}

.Hbanner_landing span {
    font-size: 7rem;
    font-family: 'eUkraine-Bold';
}

.Hban_lan_con {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.Hban_lan_con_left {
    width:85%;
    text-align: left;
}

.Hban_lan_con_left h1 {
    font-family:'eUkraine-Bold';
}

.Hban_lan_con_right {
    text-align: right;
    margin-bottom: 6rem;
}

.help_link,.help_reg_link{
    text-decoration: underline;
    font-family:'eUkraine-Bold';
    transition: 0.3s;
}

.help_link:hover,.help_reg_link:hover{
    color:white;
    transition: 0.3s;
}

@media (max-width: 860px) {
    html {
        font-size: 14px;
    }
}
