html {
    font-size: 16px;
}

.navbar {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    top: 94px;
}

.navbar_con {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 90vw;
    max-width: 1280px;
    z-index: 1;
    top: 20px;
    align-items: center;
}

.navbar_con ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
}

.navbar_con a{
    text-decoration: none;
    font-size: 0.8125rem;
    color: black;
    text-decoration: underline;
    transition: 0.5s;
    cursor: pointer;
}

.nav_links{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.nav_catalogue {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar_con a li {
    text-align: center;
    width: 6.5rem;
    color: white;
    border-radius: 2.5rem;
    padding: 0.8125rem 0;
    background: black;
    text-decoration: none;
}

.navbar_con a:hover {
    color: white;
    transition: 0.5s;
    text-decoration: none;
}

.navbar_con a li:hover {
    color: black;
    background: white;
    transition: 0.5s;
}

@media (max-width: 600px) {
    html {
        font-size: 14px;
    }

    .nav_catalogue {
        left: 44%;
    }
}