.navbar_con a{
    font-size: 0.8125rem;
    color: black;
}
.navbar_con ul li a{
    text-decoration: none;
}
.navbar_con a li {
    text-align: center;
    color: black;
    text-decoration: underline;
    font-weight: 700;
    border:none;
    padding: 0 1rem 0 0;
    background: white;
}

.navbar_con a:hover ,.navbar_con a li:hover{
    color: black;
    text-decoration: none;
}

.navbar_con ul {
    gap: 0.5rem;
}

@media (max-width: 650px) {
    html {
        font-size: 14px;
    }

    .nav_catalogue {
        left: 34%;
    }
}





