.center-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-add {
    margin-top: 25px;
}

.hint-add {
    color: var(--Dark-Grey, #a3a3a3);
    font-family: e-Ukraine;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    font-weight: 300;
    margin-bottom: 15px;
}

.row-add {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.last-row-add {
    margin: 30px 0 10px 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
