.register {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register_con {
    width: 19.375rem;
    display: flex;
    position: relative;
    padding: 6.5rem 0 2rem;
    text-align: center;
}

.register_form {
    border-radius: 2.5rem;
    background: linear-gradient(149deg, #bf98c6 0%, #4b8bfa 92.19%);
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
}

.register form {
    text-align: start;
}

.register_input {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.625rem;
    gap: 0.1875rem;
}

.register input {
    padding: 0.5rem 0.8125rem;
    flex: 1;
    border: none;
    outline: none;
    border-radius: 2.5rem;
    font-family: 'eUkraine-Regular';
    font-size: 0.8125rem;
}

.register input::placeholder {
    font-family: 'eUkraine-Regular';
    color: #dadada;
}

.register_btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 1.75rem;
    width: 12rem;
    gap: 1.125rem;
}

#log_btn,
#google_btn {
    width: 100%;
    border-radius: 2.5rem;
    border: none;
    cursor: pointer;
    background: var(--Black, #000);
    color: white;
    padding: 0.75rem 0;
    font-size: small;
}

#google_btn {
    background: var(--White, #fff);
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 0.3rem;
    color: #000;
    padding: 0.65rem 0;
}
.register_input.error p {
    color: red;
    font-size: 11px;
}

.register_input.error input {
    border: 1px solid red;
}

.exists_message,
.password_message {
    position: absolute;
    top: 60%;
    left: 100%;
    width: 12rem;
}

.exists_message p {
    color: red;
}

.password_message {
    text-align: left;
    left: 105%;
    width: max-content;
}

.password_message ul {
    margin-left: 1rem;
}

.password_message p {
    font-size: 85%;
    font-weight: 700;
}

@media (max-width: 750px) {
    .password_message,
    .exists_message {
        width: min-content;
    }

    .exists_message {
        left: 102%;
    }
}
