.search-container {
    position: relative;
    display: flex;
  }
  
  .search_input {
    padding: 0.8125rem 1.875rem 0.8125rem 1.5rem;
    flex: 1;
    border: none;
    outline: none;
    border-radius: 40px;
    font-family:"eUkraine-Regular"; 
  }
  
  .search_input::placeholder {
    font-family:"eUkraine-Regular"; 
    color: #DADADA;
  }

  .search_btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    transition: filter 0.3s;
  }

  .search_btn:hover {
    filter: invert(100%);
  }
  