.default-button{
    color: black;
    background-color: white;
    border: 2px solid #a3a3a3 ;
    border-radius: 20px;
    font-family: e-Ukraine;
    font-size: 13px;
}

.default-button:hover{
    /* color: black; */
    color: white;
    background: linear-gradient(135deg, #bf98c6 0%, #4b8bfa 100%); 
}