.filter-modal {
    position: absolute;
    top: 0%;
    left: 110%;
    background-color: white;
    padding: 14px 20px 14px 25px;
    border: 1px solid #ccc;
    z-index: 3;
    border-radius: 20px;
}

.filter-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 1rem;
    max-height: 5.5rem;
    overflow-y: auto;
    width: 410px;
    font-size: 0.8125rem;
}

.filter-options > div {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.filter-options > div.selected {
    transition: 0.1s;
    background: var(
        --Linear-Gradient,
        linear-gradient(135deg, #bf98c6 0%, #4b8bfa 100%)
    );
    background-clip: text;
    color: transparent;
    font-family: 'eUkraine-Bold';
}

.filter-btns {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-end;
    margin-top: 0.875rem;
}

.filter-btns a {
    text-decoration: underline;
    border: none;
    background: none;
    font-size: small;
}

.filter-btns button {
    padding: 3px 13px;
    border-radius: 28px;
    background-color: black;
    color: white;
    border: none;
}

.filter-modal .filter-options::-webkit-scrollbar {
    width: 10px;
}

.filter-modal .filter-options::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 5px;
}

.filter-modal .filter-options::-webkit-scrollbar-track {
    background-color: #dadada;
    border-radius: 5px;
}

/* FOR FIREFOX */

.filter-modal .filter-options::-moz-scrollbar-thumb {
    background-color: black;
    border-radius: 5px;
}

.filter-modal .filter-options::-moz-scrollbar-track {
    background-color: #dadada;
    border-radius: 5px;
}

@media (max-width: 900px) {
    .filter-options {
        grid-template-columns: repeat(2, 1fr);
        width: 300px;
    }
}
