.add-term-con {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.add-term-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.category {
    cursor: pointer;
    text-decoration: underline;
}

.category.active {
    transition: 0.3s;
    background: linear-gradient(135deg, #bf98c6 0%, #4b8bfa 100%);
    background-clip: text;
    color: transparent;
}

.tab-content {
    margin-top: 20px;
}

.form-term label {
   font-size: 0.9rem;
}

.row-mod {
    margin-top: 10px;
}

.term-input-save{
    display: flex;
    gap: 2rem;
}

.term-input-save button{
    padding: 0 1.5rem;
    background-color: #DADADA;
    color: white;
    border-radius: 20px;
    font-size: 0.8125rem;
}

.term-input {
    width: 40%;
    padding: 5px;
    border: 1.5px solid #ccc;
    border-radius: 15px;
    margin: 0.3rem 2rem 0 0;
}

.terms-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}

.term-item {
    display: flex;
    align-items: center;
    gap:0.2rem;
    padding: 10px;
    font-size: 0.9rem;
}
