@tailwind base;
@tailwind components;
@tailwind utilities;
 
 /* font */
@font-face {
    font-family: 'eUkraine-Regular';
    src: url('../src/fonts/e-Ukraine-Regular.otf');
    font-style: normal;
}

@font-face {
    font-family: 'eUkraine-Bold';
    src: url('../src/fonts/e-Ukraine-Bold.otf');
    font-style: bold;
}

@font-face {
    font-family: 'eUkraine-Thin';
    src: url('../src/fonts/e-Ukraine-Thin.otf');
    font-style: thin;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 64%;
    /* --border: 240 5.9% 90%; */
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
 
    --radius: 1.1rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



* {
    /* border: 0; */
}

body {
    font-family: 'eUkraine-Regular';
    background: #ffffff;
    margin: 0;
    padding: 0;
    cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
link,
button,
ul {
    margin: 0;
    padding: 0;
    color: black;
    font-weight: normal;
}

a,
link,
button {
    cursor: pointer;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.375rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.125rem;
}

p {
    font-size: 1rem;
}