@tailwind base;
@tailwind components;
@tailwind utilities;

/* font */
@font-face {
    font-family: 'eUkraine-Regular';
    src: url('../src/fonts/e-Ukraine-Regular.otf');
    font-style: normal;
}

@font-face {
    font-family: 'eUkraine-Bold';
    src: url('../src/fonts/e-Ukraine-Bold.otf');
    font-style: bold;
}

@font-face {
    font-family: 'eUkraine-Thin';
    src: url('../src/fonts/e-Ukraine-Thin.otf');
    font-style: thin;
}

* {
    border: 0;
}

body {
    font-family: 'eUkraine-Regular';
    background: #ffffff;
    margin: 0;
    padding: 0;
    cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
link,
button,
ul {
    margin: 0;
    padding: 0;
    color: black;
    font-weight: normal;
}

a,
link,
button {
    cursor: pointer;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.375rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.125rem;
}

p {
    font-size: 1rem;
}
